.container{
    max-width: 75%;
    justify-content: left;
    /* border: 1px solid black; */
}

.box{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: -2px 4px grey;
    
}

.row{
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: left;
}

